{$HOST} {
  handle_path /media/* {
    root * /media
    file_server
  }
  handle_path /static/* {
    root * /static
    file_server
  }
  handle * {
    reverse_proxy web:8000
  }
}

tripenntreaty.brynmawr.edu {
  redir https://{$HOST}{uri}
}

# pennstreaty.haverford.edu {
#   redir https://{$HOST}{uri}
# }
